<section data-ng-controller="AnswersetsController" data-ng-init="findOne()">
	<div class="page-header">
        <h3 class="list-group-item-heading" data-ng-bind="answerset.survey.title"></h3>
        <h4>Answer Set #{{answerset._id}}  Respondent: {{answerset.respondent.displayName}}</h4>
	</div>
	<div class="pull-right" data-ng-show="authentication.user.roles[0]==='admin'">
		<a class="btn btn-primary" href="/#!/answersets/{{answerset._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
    <div data-ng-repeat="answer in answerset.answers| orderBy: 'order'" >
            Answer:{{answer}}

    </div>
</section>
