<section class="surveyDisplay" ng-show="fentoraCRF.currentPatientNumber + 1>= fentoraCRF.numberOfPatients || finishSurvey">
    <div class="surveySection">
        STUDY COMPLETED
    </div>
    <div class="surveyEnd">
        You have successfully completed the study.<br>
        Thank you for your time.
    </div>
</section>
<section class="surveyDisplay" ng-show="fentoraCRF.currentPatientNumber +1 < fentoraCRF.numberOfPatients && !finishSurvey">
    <div class="surveySection">
        PATIENT {{fentoraCRF.currentPatientNumber +1}} COMPLETED
    </div>
    <div class="surveyEnd">
        You have completed the CRF for patient {{fentoraCRF.currentPatientNumber +1}}.<br><br>
        You may choose to continue to the next patient's CRF or end the survey.
    </div>
    <div class ="crfButtons">
        <button ng-click="terminateSurvey()" class="btn btn-primary">End study</button>
        <button ng-click="newPatient()" class="btn btn-primary right" ng-disabled="pageForm.$invalid">Continue</button>
    </div>
    <div id="footer">
        Confidential. For research purposes only.
    </div>
</section>
