<section class="surveyDisplay">
    <div class="surveySection">
        PATIENT {{fentoraCRF.currentPatientNumber +1}} - PATIENT DEMOGRAPHICS
    </div>
    <ng-form name="pageForm">
        <div class="question-header">
            What is the patient's gender?
        </div>
        <div class="choices">
            <div class= "choice" >
                <label>
                    <input type="radio"  name = "gender" value = "male" ng-model= "currentCRF.gender "  required>
                    <div class="choiceText">male</div>
                </label>
                <label>
                    <input type="radio"  name = "gender" value = "female" ng-model= "currentCRF.gender "  required>
                    <div class="choiceText">female</div>
                </label>
            </div>
        </div>
        <div class="question-header">
            What is the patient's date of birth?
        </div>
        <div class="choices">
            <div class= "choice" >
                <div>
                    Date: <input type="date"  name ="dateOfBirth"  ng-model= "currentCRF.dateOfBirth" placeholder="yyyy-MM-dd" required>
                </div>
            </div>
        </div>
        <div class ="crfButtons">
            <a href="/auth/signout" class="btn btn-primary">Save and exit</a>
            <button ng-click="submitPage()" class="btn btn-primary right" ng-disabled="pageForm.$invalid">Next page</button>
        </div>
    </ng-form>
    <div id="footer">
        Confidential. For research purposes only.
    </div>
</section>

