<div class="surveyDisplay">
    <div class="surveySection">
       SCREENING QUESTION
    </div>
    <ng-form name="pageForm">
        <div class="question-header">
            To how many patients have you prescribed FENTORA&reg (fentanyl buccal/sublingual effervescent tablets)
            in the last 3 months?
        </div>
        <div class="choices">
            <div class= "choice" >
                    <label>
                        <input type="radio" value= "1" ng-model= "fentoraCRF.numberOfPatients"  required>
                        <div class="choiceText">1</div>
                    </label>
                <label>
                    <input type="radio" value ="2" ng-model= "fentoraCRF.numberOfPatients"  required>
                    <div class="choiceText">2</div>
                </label>
                <label>
                    <input type="radio" value ="3" ng-model= "fentoraCRF.numberOfPatients"  required>
                    <div class="choiceText">≥3</div>
                </label>
            </div>
        </div>
        <div class ="next">
            <button ng-click="submitScreening()" class="btn btn-primary" ng-disabled="fentoraCRF.numberOfPatients===0">Next</button>
        </div>
    </ng-form>
    <div id="footer">
        Confidential. For research purposes only.
    </div>
</div>

