<section class="surveyDisplay">
    <div class="surveySection">
        PATIENT {{fentoraCRF.currentPatientNumber +1}} - FENTORA TREATMENT DETAILS
    </div>
    <ng-form name="pageForm">
        <div class="question-header">
            What is the date of the <b>first  prescription</b> of FENTORA&reg (fentanyl buccal/sublingual effervescent tablets)
            for this patient (treatment initiation)?<br>
            <i>The first prescription could have been done by yourself or another physician</i>
        </div>
        <div class="choices">
            <div class= "choice" >
                <div>
                    Date: <input type="date" ng-model="currentCRF.firstPrescriptionDate" placeholder="yyyy-MM-dd" required>
                </div>
            </div>
        </div>
        <div class="question-header">
            What is the date of the <b>last  prescription</b> of FENTORA&reg (fentanyl buccal/sublingual effervescent tablets)
            for this patient (treatment initiation)?<br>
            <i>The last prescription could have been done by yourself or another physician</i>
        </div>
        <div class="choices">
            <div class= "choice" >
                <div>
                    Date: <input type="date" ng-model= "currentCRF.lastPrescriptionDate" placeholder="yyyy-MM-dd" required>
                </div>
            </div>
        </div>
        <div class="question-header">
           Is the treatment still ongoing?
        </div>
        <div class="choices">
            <div class= "choice" >
                <label>
                    <input type="radio"  name = "isOngoing" value = "yes" ng-model= "currentCRF.isOngoing"  required>
                    <div class="choiceText">yes</div>
                </label>
                <label>
                    <input type="radio"  name = "isOngoing" value = "no" ng-model= "currentCRF.isOngoing"  required>
                    <div class="choiceText">no</div>
                </label>
            </div>
        </div>
        <div class ="next">
            <button ng-click="submitPage()" class="btn btn-primary" ng-disabled="pageForm.$invalid">Next</button>
        </div>
    </ng-form>
    <div id="footer">
        Confidential. For research purposes only.
    </div>
</section>

