<section class="surveyDisplay">
    <div class="surveySection">
        PATIENT {{fentoraCRF.currentPatientNumber +1}} - FENTORA TREATMENT DETAILS
    </div>
    <ng-form name="pageForm">
        <div class="question-header">
            What is the current or last (if treatment has ended) <b>daily</b> dosage of FENTORA&reg (fentanyl buccal/
            sublingual effervescent tablets) administered to this patient?
        </div>
        <div class="choices">
            <div class= "choice" >
                <div>
                    <input type="number" ng-model= "currentCRF.dailyDosage" min="1" required> &mu;g/day
                </div>
            </div>
        </div>
        <div class="question-header">
            For what condition was this patient prescribed FENTORA® (fentanyl buccal/sublingual effervescent tablets)?
        </div>
        <div class="choices">
            <div class= "choice" >
                <div>
                    <textarea  ng-model= "currentCRF.patientsCondition" required></textarea>
                </div>
            </div>
        </div>
        <div class ="next">
            <button ng-click="submitPage()" class="btn btn-primary" ng-disabled="pageForm.$invalid">Next</button>
        </div>
    </ng-form>

    <div id="footer">
        Confidential. For research purposes only.
    </div>
</section>

