<section class="row" data-ng-controller="SurveysController">
    <div class="surveySection">
        {{page.title}}
    </div>
    <h4 class="col-md-12 text-center">In order to receive your payment of $150 CAD, please enter <br>your name and address below.</h4>
    <h5 class="col-md-12 text-center">Your name and address will not be linked to your completed FENTORA<sup>®</sup> survey and your responses are anonymous.
  <br>They will be used for the sole purpose of issuing your payment.</h5>
    <div class="col-xs-offset-2 col-xs-8 compensationForm" data-ng-controller="AuthenticationController">
        <form name="userForm" data-ng-submit="compensate()" class="signin form-horizontal" novalidate autocomplete="off">
            <fieldset>
                <div class="form-group">
                    <label for="firstName">Fist Name</label>
                    <input type="text" id="firstName" name="firstName" class="form-control" data-ng-model="credentials.firstName" placeholder="Fist Name">
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="credentials.lastName" placeholder="Last Name">
                </div>
                <div class="form-group">
                    <label for="institution">Institution/organisation (if applicable)</label>
                    <input type="text" id="institution" name="institution" class="form-control" data-ng-model="credentials.institution" placeholder="Institution">
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" id="address" name="address" class="form-control" data-ng-model="credentials.address" placeholder="Address">
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <input type="text" id="city" name="city" class="form-control" data-ng-model="credentials.address" placeholder="City">
                </div>
                <div class="form-group">
                    <label for="province">Province</label>
                    <input type="text" id="province" name="province" class="form-control" data-ng-model="credentials.province" placeholder="Province">
                </div>
                <div class="form-group">
                    <label for="postalCode">Postal code</label>
                    <input type="text" id="postalCode" name="postalCode" class="form-control" data-ng-model="credentials.postalCode" placeholder="Postal code">
                </div>
                <div class="text-center form-group">
                    <button type="submit" class="btn btn-large btn-primary" ng-disabled="userForm.$invalid">Done</button>
                </div>
                <div data-ng-show="error" class="text-center text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>

