<section data-ng-controller="QuestionsController" data-ng-init="findOne()">
	<div class="page-header">
        <a class="btn btn-primary" href="/#!/pages/{{question.page}}">Back to page</a>
        <a class="btn btn-primary" href="/#!/questions/{{question._id}}/addChoice">Add choice</a>
        <h3>Question</h3>

	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == question.user._id))">
		<a class="btn btn-primary" href="/#!/questions/{{question._id}}/edit">Edit</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
    <h4>{{question.text}}</h4>
    <section data-ng-controller="ChoicesController" data-ng-init="find()">
        <div  data-ng-repeat="choice in choices| orderBy: 'order'" data-ng-href="#!/choices/{{choice._id}}" >
            <div ng-show="choice.question === question._id">
                <div ng-show="question.type==='radio' || question.type==='checkbox'">
                    <input type="{{question.type}}"> <a href="/#!/choices/{{choice._id}}">{{choice.text}}</a></h4>
                </div>
                <div ng-show="question.type==='text' || question.type==='date'">
                    <a href="/#!/choices/{{choice._id}}">{{choice.text}}</a></h4>
                    <input type="text" .placeholder="{{choice.text}}">
                </div>
                <div ng-show="question.type==='radioMatrix'">
                    <input type="radio"> <a href="/#!/choices/{{choice._id}}">{{choice.text}}</a></h4>
                </div>
            </div>
        </div>
    </section>
</section>
