<section data-ng-controller="PagesController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Page</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="title">Title</label>
                    <div class="controls">
                        <input type="text" data-ng-model="page.title" id="title" class="form-control" required>
                    </div>
                    <label class="control-label" for="pageHeader">Header</label>
                    <div class="controls">
                        <textarea  data-ng-model="page.header" id="pageHeader" class="form-control" cols="30" rows="6" ></textarea>
                    </div>
                    <label class="control-label" for="number">Page #</label>
                    <div class="controls">
                        <input type="number"  data-ng-model="page.number" id="number" class="form-control" cols="30" rows="6">
                    </div>
                    <label class="control-label" for="nextButton">Next Button Text</label>
                    <div class="controls">
                        <input type="text" data-ng-model="page.nextButtonText" id="nextButton" class="form-control">
                    </div>
                    <label class="control-label" for="previousButton">Previous Button Text</label>
                    <div class="controls">
                        <input type="text" data-ng-model="page.previousButtonText" id="previousButton" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                    <a class="btn btn-primary" data-ng-click="remove()">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
