<section data-ng-controller="SurveysController" data-ng-init="findOne()">
    <div class="page-header">
        <h1 data-ng-bind="survey.title"></h1>
        <a class="btn btn-primary" href="/#!/surveys/{{survey._id}}">View survey</a>
        <a class="btn btn-primary" href="/#!/surveys/{{survey._id}}/edit">Modify survey</a>
        <a class="btn btn-primary" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <div data-ng-bind="survey.description"></div>
    </div>
    <section>
        <div class="page-header">
            <h3>Pages</h3><a class="btn btn-primary" href="/#!/surveys/{{survey._id}}/addPage">Add page</a>

        </div>
        <div class="list-group" data-ng-repeat="page in survey.pages| orderBy: 'number'" data-ng-href="#!/pages/{{page._id}}" >
                <h4> {{page.number}}. <a href="/#!/pages/{{page._id}}">{{page.title}}</a></h4>
                <a class="btn btn-primary" href="/#!/pages/{{page._id}}/edit">Modify</a>
                <a class="btn btn-primary" data-ng-click="removePage();">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>



        </div>

        <div class="alert alert-warning text-center" data-ng-hide="!pages.$resolved || pages.length">
            No Pages yet, why don't you <a href="/#!/surveys/{{survey._id}}/addPage">create one</a>?
        </div>
    </section>
</section>
