<section class="surveyDisplay"  data-ng-controller="SurveysController" data-ng-init="findOne()">
    <div data-ng-controller="PagesController">
        <div class="surveySection">
            {{page.title}}
        </div>
        <div ng-hide ="page.customPageURL ===''">
            <ng-include src="page.customPageURL"></ng-include>
        </div>
        <div ng-show ="page.customPageURL ===''">
            <p class="pageHeader"  ng-bind-html= "page.header"></p>
            <ng-form name="pageForm">
                <div data-ng-repeat="question in questions| orderBy: 'number'" data-ng-href="#!/questions/{{question._id}}">
                    <div class="question-header">
                        <h4><a ng-show="authentication.user.roles[0] === 'admin'" href="/#!/questions/{{question._id}}" ng-bind-html="question.text"></a></h4>
                        <h4><span ng-hide="authentication.user.roles[0] === 'admin'"  ng-bind-html="question.text"></span></h4>
                    </div>
                    <div class="choices">
                        <!-- FORM RADIO-->
                        <div ng-show="question.type==='radio'" class= "choice" data-ng-repeat="choice in question.choices| orderBy: 'order'" data-ng-href="#!/choices/{{choice._id}}">
                            <div>
                                <label>
                                    <input type="radio"  name = "{{question._id}}" value = "{{choice._id}}" ng-model= "formData[question._id]" ng-click="checkSurveyLogic(choice.nextPageURL)" required>
                                    <div class="choiceText">{{choice.text}}</div>
                                </label>
                            </div>
                        </div>

                        <!-- FORM CHECKBOX-->

                        <div ng-show="question.type==='checkbox'" class= "choice" data-ng-repeat="choice in question.choices| orderBy: 'order'" data-ng-href="#!/choices/{{choice._id}}">
                            <div>
                                <label>
                                    <input type="checkbox"  name="{{question._id}}" value = "[{{question._id}},{{choice._id}}]" ng-click="updateQuestionValue(choice)" ng-model= "formData[question._id][choice._id]">
                                    {{choice.text}}
                                </label>
                            </div>
                        </div>

                        <!-- FORM TEXT-->
                        <div  ng-show="question.type==='text'" class= "choice" data-ng-repeat="choice in question.choices| orderBy: 'order'" data-ng-href="#!/choices/{{choice._id}}">
                            <div>
                                {{choice.text}}: <input type="text"  name ="{{choice._id}}"  ng-model= "formData[choice._id]" ng-minlength=3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class ="next">
                    <button ng-show="page.nextButtonText !=='Start survey'" ng-click="submitForm()" class="btn btn-primary" ng-disabled="pageForm.$invalid && unchecked ">{{page.nextButtonText}}</button>
                </div>
            </ng-form>
        </div>
        <div>
            <div class="start">
                <div ng-show="page.nextButtonText ==='Start survey'">
                    <a class="btn btn-primary" ng-click="startSurvey()">{{page.nextButtonText}}</a>
                </div>
            </div>
            <div ng-show="authentication.user.roles[0] === 'admin'">
                <a class="btn btn-primary leftButton" ng-click="previousPage()">{{page.previousButtonText}}</a>
                <a class="btn btn-primary" href="/#!/surveys/{{survey._id}}/edit">Modify survey</a>
            </div>
        </div>
        <div id="footer">
            Confidential. For research purposes only.
        </div>
    </div>
</section>
